<h1><%= @user.username.capitalize %>'s Profile</h1>




<% unless @user.subs.nil? %>
  <table>
    <tr>
      <th>
        SubName
      </th>
      <th>
        SubBody
      </th>
    </tr>
    <% @user.subs.each do |sub| %>
      <tr>
        <td>
          <%= link_to sub.title, sub_url(sub) %>
        </td>
      <td>
        <%= sub.description[0..20]%>...
      </td>
    </tr>
    <% end %>
</table>

<% end %>
<br>
<%= link_to "Create New Sub", new_sub_url %>
